@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "antd/dist/reset.css";

body {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

html {
  font-size: 80%;
}

img {
  border-radius: 0 !important;
}
